/* main styling  */

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 1em;
    list-style: none;
}

.top-five-section{
    display: flex;
    justify-content: center;
    flex-direction: column;


}

section ul {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    flex: 200px;
    align-items: center;
    border: 1px solid;

}

        