/* main styling  */

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 1em;
    list-style: none;
}

.main-burger {
    display: flex;
    align-items: center;
    gap: 15px;

}

.top-section-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;


}

.top-five-section{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.the-one {
    width: 400px;
    height: auto;
}


.top-five-section img{
    width: 150px;
    height: 150px;
    border: 1px solid;
    object-fit: cover;
}

.five-container {
    display: flex;
    gap: 20px;
}

.guru-container {
    display: flex;
    align-items: center;
}

.guru-container img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 1px solid;
}
 
.guru-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}