/* main styling  */


* {
    margin: 0;
    padding: 0;
}

/* The entire body styling  */
body {
    display: flex;
    flex-direction: column;
}


/* nav and header */
header {
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: flex;
    gap: 1em;
    list-style: none;
}


/* First section  */
.main-burger {
    display: flex;
    align-items: center;
    gap: 15px;

}
.the-one {
width: 400px;
height: auto;
}
.top-section-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}


/* Seconnd section */
.top-five-section{
    display: flex;
    align-items: center;
    flex-direction: column;

}    
.top-five-section img{
    width: 150px;
    height: 150px;
    border: 1px solid;
    object-fit: cover;
}
.five-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}


/* The third section  */
.guru-container {
    display: flex;
    align-items: center;
    gap: 20px;
}
.guru-container img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 1px solid;
}
.guru-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/* Fourth section  */
.designer-container {
    display: flex;
    justify-content: center;
    align-items: center;

}


/* the footer  */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}